/************ TABLE OF CONTENTS ***************

1. Fonts
2. Reset
**********************************************/
@import url("../fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: 'PN_SemiBold';
  src: url("../fonts/PN_SemiBold_gdi.ttf");
}

@font-face {
  font-family: 'PN-Regular2';
  src: url("../fonts/PN-Regular2.ttf");
}

/*** 

====================================================================
    Reset
====================================================================

 ***/
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

/*** 

====================================================================
    Global Settings
====================================================================

 ***/
/* REPONSIVE */
